@media (min-width: 768px) {
  header {
    flex-direction: column;
  }
  header h1 {
    font-size: 50px;
    padding: 20px 0px;
  }
  header nav #toggle:checked {
    display: none;
  }
  header nav label {
    display: none;
  }
  header nav div {
    display: flex;
    font-size: 20px;
    position: relative;
  }
  header nav div a {
    padding: 0px 5px;
  }
}

@media (min-width: 768px) {
  main .containerIndex {
    width: 80%;
    margin: auto;
  }
  main .containerIndex .descripcion .fotoPerfil {
    height: 130px;
  }
}

@media (min-width: 1024px) {
  main .containerIndex .descripcion .fotoPerfil {
    background-size: cover;
    width: 20%;
  }
}

@media (min-width: 1300px) {
  main .containerIndex .descripcion .fotoPerfil {
    background-size: cover;
    height: 150px;
  }
}

@media (min-width: 768px) {
  main .containerProyectos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 0px;
  }
  main .containerProyectos .card {
    width: 40%;
    margin: 10px;
  }
}

@media (min-width: 1024px) {
  main .containerProyectos .card {
    width: 30%;
  }
}

@media (min-width: 768px) {
  footer {
    display: flex;
    font-size: 20px;
    justify-content: center;
  }
}
