@media (min-width: 768px) {
  header {
    padding: 35px 0px;
  }
  header h1 {
    font-size: 50px;
  }
  header h3 {
    font-size: 26px;
  }
  header nav #toggle:checked {
    display: none;
  }
  header nav label {
    display: none;
  }
  header nav div {
    display: flex;
    font-size: 22px;
    position: relative;
  }
  header nav div a {
    padding-top: 10px;
  }
}

@media (min-width: 1024px) {
  .headerIndex {
    padding: 65px 0px;
  }
  header {
    padding: 45px 0px;
  }
  header h1 {
    font-size: 54px;
  }
  header h3 {
    font-size: 28px;
  }
  header nav div {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .headerIndex {
    padding: 85px 0px;
  }
}

@media (min-width: 768px) {
  main .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 0px;
  }
  main .container .card {
    width: 40%;
    margin: 10px;
  }
}

@media (min-width: 1024px) {
  main .container .card {
    height: 500px;
  }
  main .container .card h2 {
    font-size: 34px;
  }
  main .container .card button, main .container .card a {
    font-size: 30px;
  }
}

@media (min-width: 1280px) {
  main .container .card {
    height: 600px;
  }
  main .container .card h2 {
    font-size: 38px;
  }
  main .container .card button, main .container .card a {
    font-size: 34px;
  }
}

@media (min-width: 768px) {
  footer {
    display: flex;
    font-size: 20px;
    justify-content: center;
  }
}
