@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap");
header, header nav div a {
  color: white;
  text-shadow: 2px 2px 2px black;
}

main .container .card h2, main .container .card button, main .container .card a {
  background-color: aliceblue;
  box-shadow: 2px 2px 2px;
  border-radius: 5px;
  margin: 5px 0px;
  padding: 5px;
  text-align: center;
  color: black;
}

main .container .btn-return:hover, main .container .card button:hover, main .container .card a:hover {
  cursor: pointer;
  background-color: grey;
  color: white;
}

footer .redSocial1::after, footer .redSocial2::after {
  font-weight: 400;
  padding: 5px;
}

/* Importo fuente desde fonts google*/
/* Estilos Generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

h1:first-letter,
h2:first-letter,
h3::first-letter,
p:first-letter {
  text-transform: uppercase;
}

header, footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
  background-color: aliceblue;
}

/* Header*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ebe2e2 url("../img/portada_linkedin2.jpg") no-repeat;
  background-size: cover;
  padding: 30px 0px;
}

header h1 {
  text-align: center;
  font-size: 28px;
}

header h2,
header h3 {
  font-size: 18px;
  padding-bottom: 10px;
  text-align: center;
}

header nav label {
  display: block;
  cursor: pointer;
}

header nav input[type="checkbox"] {
  display: none;
}

header nav #toggle:checked + .menu {
  display: block;
}

header nav div {
  text-align: center;
  width: 100%;
  display: none;
}

header nav div a {
  display: block;
  border-bottom: 1px solid #eaeaeb;
  margin: 0;
}

main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Card proyectos estaticos */
  /* Card proyectos dinámicos */
  /* Card proyectos front API propia */
  /* Card proyectos front API propia */
  /* Card proyecto ToDo app */
  /* Card proyecto felinos - cambiar tema claro/oscuro */
  /* Card proyecto sandBox */
  /* Card proyecto fetch - API - GET */
  /* Card proyecto cronómetro */
  /* Card petshop */
  /* Card súper héroes */
  /* Card cv Lucas */
  /* Card cv Batman */
  /* Card Lemon Pie */
  /* Card Pizzería */
  /* Card Manteca & Harina */
  /* Card GitHub Api */
  /* Card theme light to dark */
  /* Card render images */
}

main .container .btn-return {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
}

main .container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 400px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
  border: 1px solid black;
  border-radius: 15px;
  margin: 20px 0px;
}

main .container .card h2 {
  animation: movimiento 3s infinite;
}

@keyframes movimiento {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(0.9);
  }
}

main .container .estaticos .backImage {
  width: 100%;
  height: 400px;
  background: white url("../img/html-css.jpg") no-repeat center;
  background-size: contain;
}

main .container .dinamicos .backImage {
  width: 100%;
  height: 400px;
  background: white url("../img/html-css-js.png") no-repeat center;
  background-size: contain;
}

main .container .api .backImage {
  width: 100%;
  height: 400px;
  background: white url("../img/front-api.png") no-repeat center;
  background-size: contain;
}

main .container .react .backImage {
  width: 100%;
  height: 400px;
  background: white url("../img/react.png") no-repeat center;
  background-size: contain;
}

main .container .toDo .backImage {
  width: 100%;
  height: 400px;
  background: white url("../img/ToDo_app.png") no-repeat center;
  background-size: contain;
}

main .container .felinos .backImage {
  width: 100%;
  height: 400px;
  background: white url("../img/felino.jpg") no-repeat center;
  background-size: contain;
}

main .container .sandBox .backImage {
  width: 100%;
  height: 400px;
  background: white url("../img/solicitar_img.png") no-repeat center;
  background-size: contain;
}

main .container .api-get .backImage {
  width: 100%;
  height: 400px;
  background: white url("../img/fetch.jpg") no-repeat center;
  background-size: contain;
}

main .container .chrono .backImage {
  width: 100%;
  height: 400px;
  background: white url("../img/cronometro.jpg") no-repeat center;
  background-size: contain;
}

main .container .backPetshop .backImage {
  width: 100%;
  height: 400px;
  background: white url("../img/pawprint 1.svg") no-repeat center;
  background-size: contain;
}

main .container .backHeroes .backImage {
  width: 100%;
  height: 400px;
  background: white url("../img/liga-justicia-batman.svg") no-repeat center;
  background-size: contain;
}

main .container .backCvLucas .backImage {
  width: 100%;
  height: 400px;
  background: white url("../img/perfil_linkedin.jpeg") no-repeat center;
  background-size: contain;
}

main .container .backCvBatman .backImage {
  width: 100%;
  height: 400px;
  background: white url("../img/logo_batman.svg") no-repeat center;
  background-size: contain;
}

main .container .backLemonPie .backImage {
  width: 100%;
  height: 400px;
  background: white url("../img/lemon-pie-1.svg") no-repeat center;
  background-size: contain;
}

main .container .backPizzeria .backImage {
  width: 100%;
  height: 400px;
  background: white url("../img/VectorPizza.svg") no-repeat center;
  background-size: contain;
}

main .container .web-mH .backImage {
  width: 100%;
  height: 400px;
  background: white url("../img/logo_m&h.jpeg") no-repeat center;
  background-size: contain;
}

main .container .api-github .backImage {
  width: 100%;
  height: 400px;
  background: white url("../img/logo_github.png") no-repeat center;
  background-size: contain;
}

main .container .theme .backImage {
  width: 100%;
  height: 400px;
  background: white url("../img/theme-dark-light.jpg") no-repeat center;
  background-size: contain;
}

main .container .parcel-sandbox .backImage {
  width: 100%;
  height: 400px;
  background: white url("../img/solicitar_img.png") no-repeat center;
  background-size: contain;
}

footer a {
  padding: 10px;
}

footer .redSocial1::after {
  content: "\f08c";
  font-family: "Font Awesome 5 Brands";
  color: #0000ffc9;
}

footer .redSocial2::after {
  content: "\f09b";
  font-family: "Font Awesome 5 Brands";
}
