%subtYAncorProyectos {
  //Subtítulos y ancor Proyectos
  background-color: aliceblue;
  box-shadow: 2px 2px 2px;
  border-radius: 5px;
  margin: 5px 0px;
  padding: 5px 10px;
  text-align: center;
  color: black;
}

$colorSec: rgb(66, 66, 214);
%hoverBacks {
  //características del hover de los backs de proyectos
  padding: 7.5px 15px;
  font-size: 1.5rem;
  color: $colorSec;
}

%detallesRedSocial {
  //Footer
  font-weight: 400;
  padding: 5px;
}
