main {
  @include flex(column, center);  
  .container {
    @include flex(column, center);
    .card {
      @include flex(column, center);
      justify-content: space-between;
      width: 70%;
      height: 400px;
      box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
      border: 1px solid black;
      border-radius: 15px;
      margin: 20px 0px;
      h2, button, a {
        @extend %subtYButtonProyectos;
      }
      h2 {
        animation: movimiento 3s infinite;
      }
      @include keyframeMovimiento;
      button, a {
        &:hover {
          @extend %hoverBacks;
        }
      }
    }
    .estaticos {
      .backImage {
        @include backgroundImagenes("../img/html-css.jpg");
      }
    }
    .dinamicos {
      .backImage {
        @include backgroundImagenes("../img/html-css-js.png");
      }
    }
    .api {
      .backImage {
        @include backgroundImagenes("../img/front-api.png");
      }
    }
    .react {
      .backImage {
        @include backgroundImagenes("../img/react.png");
      }
    }
    .toDo {
      .backImage {
        @include backgroundImagenes("../img/ToDo_app.png");
      }
    }
    .felinos {
      .backImage {
        @include backgroundImagenes("../img/felino.jpg");
      }
    }
    .sandBox {
      .backImage {
        @include backgroundImagenes("../img/solicitar_img.png");
      }
    }
    .api-get {
      .backImage {
        @include backgroundImagenes("../img/fetch.jpg");
      }
    }
    .chrono {
      .backImage {
        @include backgroundImagenes("../img/cronometro.jpg");
      }
    }
    .backPetshop {
      .backImage {
        @include backgroundImagenes("../img/pawprint\ 1.svg");
      }
    }
    .backHeroes {
      .backImage {
        @include backgroundImagenes("../img/liga-justicia-batman.svg");
      }
    }
    .backCvLucas {
      .backImage {
        @include backgroundImagenes("../img/perfil_linkedin.jpeg");
      }
    }
    .backCvBatman {
      .backImage {
        @include backgroundImagenes("../img/logo_batman.svg");
      }
    }
    .backLemonPie {
      .backImage {
        @include backgroundImagenes("../img/lemon-pie-1.svg");
      }
    }
    .backPizzeria {
      .backImage {
        @include backgroundImagenes("../img/VectorPizza.svg");
      }
    }
    .web-mH {
      .backImage {
        @include backgroundImagenes("../img/logo_m&h.jpeg");
      }
    }
    .api-github {
      .backImage {
        @include backgroundImagenes("../img/logo_github.png");
      }
    }
    .theme {
      .backImage {
        @include backgroundImagenes("../img/theme-dark-light.jpg");
      }
    }
    .parcel-sandbox {
      .backImage {
        @include backgroundImagenes("../img/solicitar_img.png");
      }
    }
    .crud {
      .backImage {
        @include backgroundImagenes("../img/crud.png");
      }
    }
    .music-search {
      .backImage {
        @include backgroundImagenes("../img/buscador_canciones.jpg");
      }
    }
    .modals {
      .backImage {
        @include backgroundImagenes("../img/modal.jpg");
      }
    }
  }
}
