@media (min-width: 768px) {
  header {
    padding: 35px 0px;
    h1 {
      font-size: 50px;
    }
    h3{
      font-size: 26px;
    }
    nav {
      #toggle:checked {
        display: none;
      }
      label {
        display: none;
      }
      div {
        display: flex;
        font-size: 22px;
        position: relative;
        a {
          padding-top: 10px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .headerIndex{
    padding: 65px 0px;
  }
  header {
    padding: 45px 0px;
    h1 {
      font-size: 54px;
    }
    h3{
      font-size: 28px;
    }
    nav {      
      div {        
        font-size: 24px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .headerIndex{
    padding: 85px 0px;
  }  
}
