@media (min-width: 768px) {
  main {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 100px 0px;
      .card {
        width: 40%;
        margin: 10px;
      }
    }
  }
}

@media (min-width: 1024px) {
  main {
    .container {
      .card {
        height: 500px;
        h2 {
          font-size: 34px;
        }
        button, a {
          font-size: 30px;
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  main {
    .container {
      .card {
        height: 600px;
        h2 {
          font-size: 38px;
        }
        button, a {
          font-size: 34px;
        }
      }
    }
  }
}